.auth-container, .home-container {
    background-color: #DEE1DD;
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(47, 87, 93, 0.2);
    text-align: center;
  }
  
  input {
    justify-content: center;
    align-items: center;
    display: flex;
    width:94% ;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #99AEAD;
    font-size: 16px;
  }
  
  button {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 99.5%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #99AEAD;
    font-size: 16px;

    background-color: #658B6F;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }
  
  /* Hover effect */
button:hover {
  background-color: #2F575D;
  transform: scale(1.02); /* Slightly enlarge on hover */
}

/* Click (active) effect */
button:active {
  background-color: #24464A;
  transform: scale(0.98); /* Slight shrink on click */
}
  /* Style for the paragraph prompt */
.register-prompt {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

/* Style for the link inside the prompt */
.register-link {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}


